// Disable text selection on page (except input & textarea)

* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-touch-callout: none;
	-moz-touch-callout: none;
	-ms-touch-callout: none;
	touch-callout: none;

	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
}

input, textarea {
	-webkit-user-select: auto !important;
	-khtml-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}

$app-header-color: #1C75BC;

/*.app {
	&-header {
		height: 50px;
		background-color: $app-header-color;

		@media(max-width: $screen-sm-max) {
			height: 35px;
		}
	}

	&-content {
		position: relative;
	}

	&-sidebar {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 250px;
		background-color: red;

		&.collapse {
			display: block;
			left: -240px;
			transition: left 0.4s ease-in;
			-ms-transition: left 0.4s ease-in;
			-moz-transition: left 0.4s ease-in;
			-webkit-transition: left 0.4s ease-in;

			&.in {
				left: 0;
				transition: left 0.4s ease-out;
				-ms-transition: left 0.4s ease-out;
				-moz-transition: left 0.4s ease-out;
				-webkit-transition: left 0.4s ease-out;
			}
		}
	}
}*/